.todoform {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
}
.mordernInput {
  width: 100%;
  display: block;
  color: black;
  font-size: 16px;
  border: none;
}
.mordernInput:focus {
  outline: none;
}

.mordernButton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: #800080;
  padding: 12px;
  color: white;
  cursor: pointer;
}
.inputContainer {
  display: flex;
}
